.news-articles-container {
  margin-top: 1%;
  min-height: 40%;

  .swiper-pagination-bullets {
    background: rgba(255, 182, 60, 1);
  }

  .controls {
    display: flex;
    gap: 2%;
    margin: 1% 0 0 1%;

    div {
      background-color: rgba(238, 169, 56, 1);
      border-radius: 3px;

      &:hover {
        background-color: rgb(200, 141, 46);
      }

      &:active {
        background-color: rgb(99, 69, 23);
      }
    }
  }
}

@media (max-width: 480px) {
  .news-articles-container {
    h4 {
      display: none;
    }

    .swiper-container {
      padding: 0 2%;
    }
    .controls {
      display: none;
    }
  }
}
