// GalleryTabs.module.scss
.scrollArea {
  margin-bottom: 1rem;
}

.tabsRoot {
  overflow: visible;
  margin-bottom: 1rem;
}

.tabsList {
  flex-wrap: nowrap;
  border-bottom: none;
  
}
x
.tab {
  white-space: nowrap;
  font-weight: 600;
  color: #666;
  padding: 0.5rem 1rem;
  border: 1px solid #ccc !important;
  margin: 10px 5px;
  border-radius: 20px !important;

  @media (max-width: 768px) {
    font-size: 18px;
  }

  @media (min-width: 769px) and (max-width: 1024px) {
    font-size: 12px;
  }

  @media (min-width: 1025px) {
    font-size: 14px;
  }

  &[data-active] {
    color: #e6b800;
    border-color: #e6b800;
  }
}

.mantine-Tabs-tabLabel{
  font-size: 12px !important;
}

// .mantine-Tabs-list::before{
//   display: none !important;
// }

.GalleryTabs_tab__V3jOr{
  border: 1px solid #ccc !important;
}