/*!***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./src/components/shared/socialShareLinks/SocialShareLinks.module.scss ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.SocialShareLinks_socialShareLinksContainer__jbrZv {
  display: flex;
  align-items: center;
  gap: 4px;
}

.SocialShareLinks_socialLink__pG2a1,
.SocialShareLinks_shareButton__Vr4yc {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  transition: all 0.3s ease;
  color: #fff;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}
.SocialShareLinks_socialLink__pG2a1:hover,
.SocialShareLinks_shareButton__Vr4yc:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.SocialShareLinks_socialLink__pG2a1[data-icon=facebook] {
  background-color: #1877f2;
}
.SocialShareLinks_socialLink__pG2a1[data-icon=facebook]:hover {
  background-color: rgb(11.4549180328, 95.1639344262, 203.5450819672);
}
.SocialShareLinks_socialLink__pG2a1[data-icon=twitter] {
  background-color: #1da1f2;
}
.SocialShareLinks_socialLink__pG2a1[data-icon=twitter]:hover {
  background-color: rgb(11.9665271967, 133.4728033473, 208.0334728033);
}
.SocialShareLinks_socialLink__pG2a1[data-icon=youtube] {
  background-color: #ff0000;
}
.SocialShareLinks_socialLink__pG2a1[data-icon=youtube]:hover {
  background-color: #cc0000;
}
.SocialShareLinks_socialLink__pG2a1[data-icon=instagram] {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
}
.SocialShareLinks_socialLink__pG2a1[data-icon=instagram]:hover {
  background: radial-gradient(circle at 30% 107%, rgb(252.5188679245, 241.3537735849, 125.9811320755) 0%, rgb(252.5188679245, 241.3537735849, 125.9811320755) 5%, rgb(252.722826087, 65.9945652174, 47.777173913) 45%, rgb(192.172, 32.328, 142.782) 60%, rgb(21.2340425532, 74.3191489362, 228.2659574468) 90%);
}

.SocialShareLinks_shareButton__Vr4yc {
  background-color: #e4b001;
}
.SocialShareLinks_shareButton__Vr4yc:hover {
  background-color: rgb(177.2227074236, 136.8034934498, 0.7772925764);
}

.SocialShareLinks_modalTitle__VXuNP {
  font-size: 1.4rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 1rem;
}

.SocialShareLinks_shareGroup__L6Jn_ {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1.5rem;
}

.SocialShareLinks_roundButton__vmfZU {
  padding: 0;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  border: none;
}
.SocialShareLinks_roundButton__vmfZU:hover {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.SocialShareLinks_roundButton__vmfZU[data-icon=instagram]:hover {
  background: radial-gradient(circle at 30% 107%, rgb(252.5188679245, 241.3537735849, 125.9811320755) 0%, rgb(252.5188679245, 241.3537735849, 125.9811320755) 5%, rgb(252.722826087, 65.9945652174, 47.777173913) 45%, rgb(192.172, 32.328, 142.782) 60%, rgb(21.2340425532, 74.3191489362, 228.2659574468) 90%);
}
.SocialShareLinks_roundButton__vmfZU[data-icon=link]:hover {
  background-color: rgb(91.5, 91.5, 91.5);
}

.SocialShareLinks_copySuccess__ze4l8 {
  margin-top: 1rem;
  padding: 0.75rem;
  font-size: 1rem;
  color: #2e7d32;
  background-color: #e8f5e9;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
/*!*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./src/components/shared/aboutPart/AboutPart.module.scss ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.AboutPart_about__SuN8O {
  display: flex;
  gap: 4%;
  margin-bottom: 2rem;
  justify-content: center;
}
.AboutPart_about__SuN8O .AboutPart_imageContainer__8jxfo {
  width: 45%;
}
.AboutPart_about__SuN8O img {
  border-radius: 21.59px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.AboutPart_about__SuN8O .AboutPart_about-content__vyqRu {
  color: var(--info-text-color);
  width: 50%;
}
.AboutPart_about__SuN8O .AboutPart_about-content__vyqRu h6 {
  color: var(--info-date-color);
  margin: 0 0 0.2rem;
}
.AboutPart_about__SuN8O .AboutPart_about-content__vyqRu h2 {
  color: var(--info-title-text-color-3);
  margin: 0 0 0.5rem;
  line-height: 54px;
}
.AboutPart_about__SuN8O .AboutPart_about-content__vyqRu p {
  margin: 0 0 0.4rem;
  color: #424242;
  font-style: normal;
  font-weight: 400;
  line-height: 126%; /* 19.08px */
}
.AboutPart_about__SuN8O .AboutPart_about-content__vyqRu .AboutPart_button-container__m_iJ2 {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}
.AboutPart_about__SuN8O .AboutPart_about-content__vyqRu .AboutPart_join-button__EeTF7,
.AboutPart_about__SuN8O .AboutPart_about-content__vyqRu .AboutPart_read-more__R8IjT {
  border: 1px solid var(--info-text-color);
  border-radius: 8px;
  padding: 0.8rem 1.7rem;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0.413px;
  cursor: pointer;
  background: transparent;
  color: var(--info-text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}
.AboutPart_about__SuN8O .AboutPart_about-content__vyqRu .AboutPart_join-button__EeTF7:hover,
.AboutPart_about__SuN8O .AboutPart_about-content__vyqRu .AboutPart_read-more__R8IjT:hover {
  background-color: var(--info-text-color);
  color: #fff;
}
.AboutPart_about__SuN8O .AboutPart_about-content__vyqRu .AboutPart_read-more__R8IjT {
  background-color: var(--info-text-color);
  color: #fff;
}
.AboutPart_about__SuN8O .AboutPart_about-content__vyqRu .AboutPart_read-more__R8IjT:hover {
  background-color: transparent;
  color: var(--info-text-color);
}
@media (max-width: 768px) {
  .AboutPart_about__SuN8O {
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 0;
  }
  .AboutPart_about__SuN8O .AboutPart_imageContainer__8jxfo {
    width: 100%;
  }
  .AboutPart_about__SuN8O img {
    width: 100%;
    border-radius: 10px;
  }
  .AboutPart_about__SuN8O .AboutPart_about-content__vyqRu {
    width: 100%;
    text-align: left;
  }
  .AboutPart_about__SuN8O .AboutPart_about-content__vyqRu h6,
  .AboutPart_about__SuN8O .AboutPart_about-content__vyqRu h2 {
    line-height: 34px;
  }
  .AboutPart_about__SuN8O .AboutPart_about-content__vyqRu h2 {
    font-size: 24px;
  }
  .AboutPart_about__SuN8O .AboutPart_about-content__vyqRu .AboutPart_button-container__m_iJ2 {
    flex-direction: column;
  }
  .AboutPart_about__SuN8O .AboutPart_about-content__vyqRu .AboutPart_join-button__EeTF7,
  .AboutPart_about__SuN8O .AboutPart_about-content__vyqRu .AboutPart_read-more__R8IjT {
    width: 100%;
    margin-top: 0.5rem;
  }
}
@media (max-width: 1024px) and (min-width: 769px) {
  .AboutPart_about__SuN8O {
    gap: 3%;
  }
  .AboutPart_about__SuN8O img {
    width: 45%;
  }
  .AboutPart_about__SuN8O .AboutPart_about-content__vyqRu {
    width: 52%;
  }
}
@media (max-aspect-ratio: 1/1) {
  .AboutPart_about__SuN8O {
    flex-direction: column;
    gap: 2rem;
  }
  .AboutPart_about__SuN8O img {
    width: 100%;
    border-radius: 10px;
  }
  .AboutPart_about__SuN8O .AboutPart_about-content__vyqRu {
    width: 100%;
    text-align: left;
  }
}
/*!*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./src/components/shared/videoCard/VideoCard.module.scss ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.VideoCard_videoCard___qrwK {
  display: flex;
  flex-direction: column;
  height: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
  width: 100%;
}

.VideoCard_videoSection__L89Sz {
  position: relative;
  height: 180px;
}

.VideoCard_videoImage__DUc_o {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.VideoCard_videoContainer__cSDsc {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.VideoCard_playButton__3u_nh {
  position: absolute;
  bottom: 5%;
  left: 5%;
  width: 36px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/*!*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./src/components/events/expandedEvents/eventImage/EventImages.module.scss ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.EventImages_grid__Dnoyk {
  padding: 10px;
  max-height: 600px;
  overflow-y: scroll;
}
@media (max-width: 768px) {
  .EventImages_grid__Dnoyk {
    max-height: 600px;
    overflow-y: scroll;
  }
}
@media (max-width: 1024px) {
  .EventImages_grid__Dnoyk {
    padding: 30px;
    padding-bottom: 20%;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}
@media (max-width: 768px) {
  .EventImages_grid__Dnoyk {
    padding: 0px;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }
}

.EventImages_gridItem__xHo70 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.EventImages_image__Csn18 {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}
/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./src/components/events/expandedEvents/eventTabs/EventTabs.module.scss ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.EventTabs_tabsContainer__fEcK0 {
  padding: 0 10px;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
@media (max-width: 768px) {
  .EventTabs_tabsContainer__fEcK0 {
    padding: 0 0;
  }
}

.EventTabs_tabsList__SdwsA {
  display: flex;
  justify-content: space-between;
}

.EventTabs_tab__OolWp {
  flex: 1;
  text-align: center;
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
  background: transparent;
  color: #000;
  border: none;
  transition: all 0.3s ease;
  border-radius: 20px;
  border: 1px solid #ffb63c;
}
.EventTabs_tab__OolWp:hover {
  background: rgba(255, 182, 60, 0.1);
}
.EventTabs_tab__OolWp[data-active] {
  background: #ffb63c;
  border-bottom: 2px solid #ffb63c;
  color: #fff;
}

.EventTabs_tabsRoot__4CFEJ {
  width: 100%;
}

.EventTabs_maintablelist__4D3Ag .EventTabs_m_576c9d4__CEPtg::before {
  display: none !important;
}
/*!********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./src/components/events/expandedEvents/expandedEventInfo/ExpandedEventInfo.module.scss ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.ExpandedEventInfo_expandedEventsInfo__9WU0I {
  background-color: #fff;
  padding-top: 5rem; /* Adjust this value based on the height of your navbar */
  padding-left: 1rem; /* Add left padding */
  padding-right: 1rem; /* Optional: add right padding */
  padding-bottom: 2rem;
}
@media (max-width: 768px) {
  .ExpandedEventInfo_expandedEventsInfo__9WU0I {
    padding: 4rem 1rem 2rem 1rem;
  }
}

.ExpandedEventInfo_content__Xa132 {
  margin-bottom: 2rem;
  margin-top: 2rem;
}
@media (max-width: 768px) {
  .ExpandedEventInfo_content__Xa132 {
    padding: 0;
  }
}

.ExpandedEventInfo_about__jlw3B {
  display: flex;
  gap: 5%;
  padding-top: 2rem; /* Space from the top of the screen */
  padding-left: 1rem; /* Space from the left side */
  /* Ensure it is responsive */
  flex-direction: column;
  align-items: center;
}
.ExpandedEventInfo_about__jlw3B img {
  width: 100%;
  max-width: 600px; /* Maximum width for larger screens */
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 21.59px; /* Uncomment if needed */
}
.ExpandedEventInfo_about__jlw3B .ExpandedEventInfo_about-content__kaLbB {
  color: var(--info-text-color);
  text-align: center; /* Center-align content for smaller screens */
  width: 100%;
  max-width: 600px; /* Maximum width for larger screens */
}
.ExpandedEventInfo_about__jlw3B .ExpandedEventInfo_about-content__kaLbB h2 {
  color: var(--info-title-text-color-1);
  margin-bottom: 1rem; /* Space below the title */
}
.ExpandedEventInfo_about__jlw3B .ExpandedEventInfo_about-content__kaLbB button {
  border: 1px solid var(--info-text-color);
  border-radius: 8px;
  padding: 0.8rem 1.7rem;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0.413px;
  margin-top: 1rem; /* Space above the button */
}
.ExpandedEventInfo_about__jlw3B .ExpandedEventInfo_about-content__kaLbB:hover {
  background-color: var(--info-text-color);
  color: #fff;
}

@media (max-aspect-ratio: 1.35) {
  .ExpandedEventInfo_about__jlw3B {
    display: block; /* Ensure it is displayed in portrait mode */
    padding: 1rem; /* Adjust padding for smaller screens */
    gap: 1rem;
  }
  .ExpandedEventInfo_about__jlw3B img {
    width: 100%;
  }
  .ExpandedEventInfo_about-content__kaLbB {
    width: 100%;
    max-width: none; /* Remove maximum width for smaller screens */
  }
}
